Screen {
    align: center middle;
}

Horizontal {
    width: 80%;
    height: 80%;
}

SelectionList {
    padding: 1;
    border: solid $accent;
    width: 1fr;
}

Pretty {
    width: 1fr;
    border: solid $accent;
}

Footer {
    background: #282727;
}

Footer .footer--description {
    color: cornflowerblue;
    background: #282727;
}

Footer .footer--key {
    color: #282727;
    background: cornflowerblue;
}
