# ignore python cache
**/__pycache__

# ignore apple finder stuff
**/.DS_Store

# when we do brew installs with a bundle file, we get this
**/Brewfile.lock.json

# python packaging
smol_k8s_lab.egg-info/**
dist/**
build/**

# ignore any local env testing
.env

# mkdocs stuff
site/**

# not this time, world!
**/*tls.yaml
**/*tls.yml

# don't check in any personal logs
logs/**


smol_k8s_lab/audio/en/**
smol_k8s_lab/audio/nl/**


# this is all appimage build related
smol-k8s-lab/**
pkg2appimage--x86_64.AppImage
