site_name: smol-k8s-lab docs
site_url: https://small-hack.github.io/smol-k8s-lab
repo_url: https://github.com/small-hack/smol-k8s-lab
plugins:
  - mkdocs-video
theme:
  favicon: images/cloud_favicon.png
  icon:
    logo: material/cloud
  name: material
  font: false
  features:
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - tables
    - toc.integrate
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: spacechalk
extra_css:
  - stylesheets/fonts.css
  - stylesheets/extra.css
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
markdown_extensions:
  - tables
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
nav:
  - Home: index.md
  - Installation: installation.md
  - CLI: cli.md
  - TUI:
    - Create and Modify Clusters: tui/create_modify_screens.md
    - K8s Distros: tui/distro_screen.md
    - K8s Apps: tui/apps_screen.md
    - Config: tui/tui_config.md
    - Getting Help: tui/help_screen.md
    - Confirmation: tui/confirmation_screen.md
  - Config File: config_file.md
  - Apps: 
    - Overview: k8s_apps/index.md
    - Argo CD: 
      - Argo CD App: k8s_apps/argocd.md
      - Appset Secret Plugin: k8s_apps/appset-secret-plugin.md
    - Cert Manager: k8s_apps/cert_manager.md
    - CloudNative Postgress Operator: k8s_apps/cnpg_operator.md
    - Core DNS: k8s_apps/core_dns.md
    - External Secrets: 
      - External Secrets Operator: k8s_apps/external-secrets-operator.md
      - Bitwarden ESO Provider: k8s_apps/bitwarden_eso_provider.md
    - Experimental:
      - Cilium: k8s_apps/experimental/cilium.md
      - Infisical: k8s_apps/experimental/infisical.md
      - Kepler: k8s_apps/experimental/kepler.md
      - Kyverno: k8s_apps/experimental/kyverno.md
      - Kubevirt: k8s_apps/experimental/kubevirt.md
      - Longhorn: k8s_apps/experimental/longhorn.md
      - MinIO: k8s_apps/experimental/minio.md
      - Zalando Postgress Operator: k8s_apps/experimental/postgres_operator.md
    - Generic App: k8s_apps/generic_app.md
    - Generic Device Plugin: k8s_apps/generic_device_plugin.md
    - Home Assistant: k8s_apps/home_assistant.md
    - Ingress Nginx: k8s_apps/ingress_nginx.md
    - K8tz: k8s_apps/k8tz.md
    - K8up: k8s_apps/k8up.md
    - Mastodon: k8s_apps/mastodon.md
    - Matrix: k8s_apps/matrix.md
    - MetalLB: k8s_apps/metallb.md
    - Netmaker: k8s_apps/netmaker.md
    - Nextcloud: k8s_apps/nextcloud.md
    - SeaweedFS: k8s_apps/seaweedfs.md
    - Prometheus: k8s_apps/prometheus.md
    - Vouch: k8s_apps/vouch.md
    - Zitadel: k8s_apps/zitadel.md
  - Supported Distros:
    - Intro: k8s_distros/distros.md
    - K3s: 
      - About: k8s_distros/k3s/k3s.md
      - QuickStart: k8s_distros/k3s/quickstart.md
      - Tutorial: k8s_distros/k3s/tutorial.md
    - K3d: 
      - About: k8s_distros/k3d/k3d.md
    - Kind: 
      - About: k8s_distros/kind/kind.md
      - QuickStart: k8s_distros/kind/quickstart.md
      - Tutorial: k8s_distros/kind/tutorial.md
  - Tools: 
    - About: k8s_toolbox/toolbox.md
    - Helm: k8s_toolbox/helm.md
    - K9s: k8s_toolbox/k9s.md
    - Kubectl: k8s_toolbox/kubectl.md
