[tool.poetry]
name          = "smol_k8s_lab"
version       = "0.8.17_a0"
description   = "bootstrap simple projects on kubernetes with kind and k3s"
authors       = ["Jesse Hitch <jessebot@linux.com>"]
readme        = "README.md"
packages      = [{include = "smol_k8s_lab"}]
license       = "AGPL-3.0-or-later"
homepage      = "https://jessebot.github.io/smol_k8s_lab"
repository    = "http://github.com/jessebot/smol_k8s_lab"
documentation = "https://jessebot.github.io/smol_k8s_lab"
keywords      = ["kubernetes", "homelab", "kind", "k3s", "k8s"]
classifiers   = ["Development Status :: 3 - Alpha",
                 "Programming Language :: Python :: 3.10",
                 "Operating System :: MacOS :: MacOS X",
                 "Operating System :: POSIX :: Linux",
                 "Intended Audience :: End Users/Desktop",
                 "Topic :: System :: Installation/Setup",
                 "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)"]

[tool.poetry.urls]
"Bug Tracker" = "http://github.com/jessebot/smol_k8s_lab/issues"

[tool.poetry.dependencies]
python   = ">=3.10,<4.0.0"
rich     = "^12.6.0"
click    = "^8.1.3"
bcrypt   = "^4.0.1"
requests = "^2.28.1"
pyyaml   = "^6.0"

[tools.poetry.plugins."smol_k8s_lab.application.plugin"]
"smol-k8s-lab" = "smol_k8s_lab:main"

[tool.poetry.scripts]
smol-k8s-lab = "smol_k8s_lab:main"

[build-system]
requires      = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
