[tool.poetry]
name          = "smol_k8s_lab"
version       = "0.10.8"
description   = "bootstrap simple projects on kubernetes with kind and k3s"
authors       = ["Jesse Hitch <jessebot@linux.com>"]
readme        = "README.md"
packages      = [{include = "smol_k8s_lab"}]
license       = "AGPL-3.0-or-later"
homepage      = "https://jessebot.github.io/smol-k8s-lab"
repository    = "http://github.com/jessebot/smol-k8s-lab"
documentation = "https://jessebot.github.io/smol-k8s-lab"
keywords      = ["kubernetes", "homelab", "kind", "k3s", "k8s"]
classifiers   = ["Development Status :: 3 - Alpha",
                 "Programming Language :: Python :: 3.11",
                 "Operating System :: MacOS :: MacOS X",
                 "Operating System :: POSIX :: Linux",
                 "Intended Audience :: End Users/Desktop",
                 "Topic :: System :: Installation/Setup",
                 "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)"]
include       = ["smol_k8s_lab/config/kind_cluster_config.yaml"]

[tool.poetry.urls]
"Bug Tracker" = "http://github.com/jessebot/smol-k8s-lab/issues"

[tool.poetry.dependencies]
python   = ">=3.11,<4.0.0"
rich     = "^12.6.0"
click    = "^8.1.3"
bcrypt   = "^4.0.1"
requests = "^2.28.1"
pyyaml   = "^6.0"
xdg = "^5.1.1"

[[tool.poetry.source]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
default = false
secondary = false

[tools.poetry.plugins."smol-k8s-lab.application.plugin"]
"smol-k8s-lab" = "smol_k8s_lab:main"

[tool.poetry.scripts]
smol-k8s-lab = "smol_k8s_lab:main"

[build-system]
requires      = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
