$link-color: $green-000;
$body-background-color: $grey-dk-300;
$body-text-color: $grey-lt-100;
$table-background-color: $grey-dk-250;
$sidebar-color: $grey-dk-300;
$code-background-color: $grey-dk-250;

