/*
*      HEX       RGB              name of color in css
*      ---------------------------------------------
*      #bdd8ff  rgb(189,216,255)  bluish_white
*      #aea8f8  rgb(174,168,248)  lavender
*      #ff8d87  rgb(255,141,135)  spacechalk_red
*      #f289f9  rgb(242,137,249)  neon_magenta
*      #ffaff9  rgb(255,175,249)  light_pink
*      #fdcd36  rgb(253,205,54)   orange
*      #f9f986  rgb(249,249,134)  soft_yellow
*      #C1FF87  rgb(193,255,135)  soft_green
*      #a8fd57  rgb(168,253,87)   spacechalk_lime
*      #5cc9fd  rgb(92,201,253)   sky_blue
*      #5f87ff  rgb(95,135,255)   cornflower
*      #7aa2f7  rgb(122,162,247)  light_cornflower
*      #565f89  rgb(86,95,137)    blue_grey
*      #3a3a3a  rgb(58,58,58)     dark_gray
*      #232336  rgb(35,35,54)     navy
*/

$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_grey: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);


/* Matches the WHOLE TOP part of screen in content container */
#apps-config-container {
   layout: grid;
   grid-size: 2;
   grid-columns: 0.5fr 1.2fr;
   grid-rows: 1.3fr 0.4fr;
   margin-top: 1;
   margin-left: 1;
   margin-right: 1;
}

/* LEFT TOP HALF OF SCREEN */

/* matches only the left hand side of top half of screen */
#select-add-apps {
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-hover: $orange;
   scrollbar-color: $cornflower;
   border: round $cornflower;
   background: rgb(35,35,54) 60%;
   align: center top;
   height: auto;
}

/* matches the app selection list, the new app input, and submit button */
#left-apps-container {
   layout: grid;
   grid-rows: 0.22fr 0.1fr 0.1fr;
   align: center top;
}

/* new app input and button boxes below the app selection list */
#new-app-button-box {
   align: center middle;
   height: auto;
   margin-top: 1;
   margin-bottom: 1;
}

#new-app-input-box {
   align: center top;
   margin-top: 1;
}

/* ---------------------- RIGHT TOP HALF OF SCREEN ------------------------- */

/* Matches the "Configure parameters for {app}" input list pane itself */
#app-inputs-pane {
   padding-top: 1;
   border: round $cornflower;
   background: rgb(35,35,54) 50%;
}

.single-app-inputs {
}

/* each app input label and input field row */
.app-input-row {
   layout: grid;
   height: auto;
   grid-size: 2;
   grid-columns: 0.5fr 1.5fr;
   padding-bottom: 1;
   padding-left: 2;
   padding-right: 1;
}

/* each app input label */
.app-input-label {
   height: 3;
   width: 100%;
   content-align: left middle;
   color: $sky_blue 90%;
}

/* argo cd config param section */
.argo-config-container {
   align: left top;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-hover: $orange;
   scrollbar-color: $cornflower;
}

.argo-config-header {
   width: 100%;
   content-align: left middle;
   padding-left: 1;
   background: rgb(65,72,104) 20%;
   color: rgb(168,253,87) 90%;
   height: 3;
   margin-bottom: 1;
}

.argo-config-row {
   layout: grid;
   height: auto;
   grid-size: 2;
   grid-columns: 0.5fr 1.5fr;
   padding-bottom: 1;
   padding-left: 2;
   padding-right: 1;
}

.argo-config-label {
   height: 3;
   width: auto;
   content-align: left middle;
   color: $sky_blue 90%;
}

.argo-config-input {
   height: auto;
   width: 100%;
   content-align: left middle;
}

/* divider between secret keys and the rest of the argo inputs */
.secret-key-divider {
   color: rgb(168,253,87) 90%;
   height: 3;
   padding-left: 1;
   width: 100%;
   background: rgb(65,72,104) 18%;
   content-align: left middle;
   margin-bottom: 1;
}

/* blurb to let users know that we don't have secret keys for this app, but they can add some */
.secret-key-help-text {
   width: 100%;
   padding-left: 1;
   padding-right: 1;
   padding-bottom: 1;
   color: gray;
}

.app-secret-key-input {
   height: auto;
   width: 100;
}


/* Matches App Description in Select k8s apps */
#app-description-container{
   column-span: 2;
   border: round gray;
   content-align: center middle;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-hover: $orange;
   scrollbar-color: $cornflower;
   height: auto;
   margin-top: 1;
}

#app-description {
   width: 100%;
   padding-left: 1;
   padding-right: 1;
   padding-top: 1;
}

/* manages just Description heading for select k8s apps */
#app-description-label {
   margin-bottom: 1;
   color: rgb(168,253,87);
   background: gray;
   width: 100%;
}
