/* ALL TABS */

/* Matches the entire screen for each page */
Screen {
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
}

Tooltip {
  background: rgb(35,35,54) 50%;
  color: #7a7a7a;
  border: round gray 80%;
  padding-bottom: 0;
}

Button {
  background: rgb(123,120,191) 10%;
  border-top: tall rgb(65,72,104) 60%;
  border-bottom: tall rgb(0,0,0) 30%;
}

Input {
  background: #7a7a7a 8%;
  color: white 75%;
  border: tall black 30%;
}

Input.-invalid {
   border: tall magenta 60%;
}

Input.-valid:focus {
   border: tall $success;
}

/* Matches the bottom footer help text on every page */
Footer {
   background: $background 1%;
}

Footer .footer--description {
   color: cornflowerblue;
   background: rgb(35,35,54) 50%;
}

Footer .footer--key {
   color: #282727;
   background: cornflowerblue;
}

Footer .footer--highlight {
   color: orange;
   background: rgb(35,35,54) 50%;
}

Footer .footer--highlight-key {
  color: #282727;
  background: orange;
}

/* BEGIN First TAB */

/* Matches the WHOLE TOP part of screen in 1st tab content container */
#select-apps-container {
   layout: grid;
   grid-size: 2;
   grid-columns: 0.5fr 1.2fr;
   grid-rows: 1.5fr 0.4fr;
}

/* matches only the left hand side of top half of screen */
#select-add-apps {
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
   border: round cornflowerblue;
   background: rgb(35,35,54) 60%;
   align: center top;
   height: auto;
}

/* matches the app selection list, the new app input, and submit button */
#left-apps-container {
   layout: grid;
   grid-rows: 0.22fr 0.1fr 0.1fr;
   align: center top;
}

/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
   background: rgb(35,35,54) 40%;
   width: 100%;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
   background: rgb(65,72,104) 50%;
}

SelectionList .option-list--option-hover-highlighted {
   background: rgb(65,72,104) 90%;
}

SelectionList .option-list--option-hover {
   background: rgb(65,72,104) 70%;
}

/* changes color of filled in app selection button */
.selection-list--button-selected {
   color: rgb(242,137,249);
}

/* changes color of filled in app selection button */
.selection-list--button-highlighted {
   color: rgb(242,137,249);
}

/* changes color of filled in app selection button when highlighted */
.selection-list--button-selected-highlighted {
   color: rgb(242,137,249);
}

/* new app input and button boxes below the app selection list */
#new-app-button-box {
   align: center middle;
   height: auto;
   margin-top: 1;
   margin-bottom: 1;
}

#new-app-input-box {
   align: center top;
   margin-top: 1;
}

/* Matches the "Configure Selected apps" input list */
#app-inputs-pane {
   padding-top: 1;
   border: round cornflowerblue;
   background: rgb(35,35,54) 50%;
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
   content-align: center middle;
}

/* single app's inputs */
.single-app-inputs {
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
}

.app-help-label {
   width: 100%;
   padding-left: 1;
   padding-right: 1;
   padding-bottom: 1;
   color: gray;
}

/* entire row for app label, app switch label, and switch for each app with initialization */
.app-init-switch-and-labels-row {
   background: rgb(65,72,104) 30%;
   layout: grid;
   grid-size: 4;
   height: 3;
   grid-columns: 1.3fr 0.7fr 0.5fr 0fr;
   margin-bottom: 1;
}

.secret-key-divider {
   color: rgb(168,253,87) 90%;
   height: 3;
   padding-left: 1;
   width: 100%;
   background: rgb(65,72,104) 18%;
   content-align: left middle;
   margin-bottom: 1;
}

/* label for each app in the conigure selected apps pane */
.app-label {
   height: 3;
   width: 100%;
   content-align: left middle;
   padding-left: 1;
   color: rgb(168,253,87);
}

/* switch label for each app */
.app-init-switch-label {
   height: 3;
   width: 100%;
   content-align: right middle;
}

/* sets the init switch slider color only when it's on */
Switch.-on > .switch--slider {
   color: rgb(168,253,87) 85%;
}

/* container for all of an apps input fields */
.app-all-inputs-container {
   height: auto;
   width: auto;
}

/* each app input label and input field row */
.app-input-row {
   layout: grid;
   height: auto;
   grid-size: 2;
   grid-columns: 0.5fr 1.5fr;
   padding-bottom: 1;
   padding-left: 2;
   padding-right: 1;
}

/* each app input label */
.app-input-label {
   height: 3;
   width: 100%;
   content-align: left middle;
   color: rgb(127,200,255) 90%;
}

/* each app input field */
.app-init-input {
   height: auto;
   width: 100;
}

.app-secret-key-input {
   height: auto;
   width: 100;
}

/* argo cd config param section */
.argo-config-container {
   height: auto;
}

.argo-config-header {
   width: 100%;
   content-align: left middle;
   padding-left: 1;
   background: rgb(65,72,104) 20%;
   color: rgb(168,253,87) 90%;
   margin-bottom: 1;
   height: 3;
}

.argo-config-row {
   layout: grid;
   height: auto;
   grid-size: 2;
   grid-columns: 0.5fr 1.5fr;
   padding-bottom: 1;
   padding-left: 2;
   padding-right: 1;
}

.argo-config-label {
   height: 3;
   width: auto;
   content-align: left middle;
   color: rgb(127,200,255) 90%;
}

.argo-config-input {
   height: auto;
   width: 100%;
   content-align: left middle;
}


/* Matches App Description in Select k8s apps tab */
#app-description-container{
   column-span: 2;
   border: round gray;
   content-align: center middle;
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
}

#app-description {
   width: 100%;
   padding-left: 1;
   padding-right: 1;
   padding-top: 1;
}

/* manages just Description heading for select k8s apps tab */
#app-description-label {
   margin-bottom: 1;
   color: rgb(168,253,87);
   background: gray;
   width: 100%;
}

/* final tab with confirmation data */
#confirm-tab-container {
   layout: grid;
   align: center middle;
   grid-rows: 5.5fr 0.8fr;
   margin-top: 1;
}

#invalid-apps {
  border: dashed yellow 60%;
  padding: 1;
  margin-bottom: 1;
  width: 100%;
  background: rgb(35,35,54) 60%;
}

#pretty-yaml-scroll-container {
   border: solid cornflowerblue;
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
   height: 100%;
   padding-top: 1;
   background: rgb(35,35,54) 60%;
}

#confirm-button {
   width: 100%;
   margin-top: 1;
   background: rgb(123,120,191) 10%;
   border-top: tall rgb(65,72,104) 60%;
   border-bottom: tall rgb(0,0,0) 30%;
}
