$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* Matches the entire screen */
Screen {
   align: center middle;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-active: $sky_blue;
   scrollbar-color-hover: $cornflower;
   scrollbar-color: $light_cornflower;
}

Tooltip {
  background: $navy 50%;
  color: $bluish_white 75%;
  border: dashed gray 80%;
  padding-bottom: 0;
  padding-left: 1;
  padding-right: 1;
}

Button {
  color: $light_cornflower;
  background: $lavender 10%;
  border-top: tall $blue_gray 60%;
  border-bottom: tall $dark_gray 50%;
}

Input {
  background: $bluish_white 8%;
  color: white 75%;
  border: tall black 18%;
}

Input.-invalid {
   border: tall $neon_magenta 90%;
}

Input.-valid:focus {
   border: tall $spacechalk_lime 70%;
}

/* Matches the bottom footer help text on every page */
Footer {
   background: $background 1%;
}

Footer .footer--description {
   color: $light_cornflower;
   background: $navy 50%;
}

Footer .footer--key {
   color: $navy;
   background: $light_cornflower;
}

Footer .footer--highlight {
   color: $orange;
   background: $navy 50%;
}

Footer .footer--highlight-key {
  color: $navy;
  background: $orange;
}

/* sets the init switch slider color only when it's on */
Switch.-on > .switch--slider {
   color: $spacechalk_lime 90%;
}

/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
   background: $navy 40%;
   color: $bluish_white;
   width: 100%;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
   background: $blue_gray 50%;
   color: $sky_blue;
}

SelectionList .option-list--option-hover-highlighted {
   background: $blue_gray 90%;
   color: $sky_blue;
}

SelectionList .option-list--option-hover {
   background: $blue_gray 70%;
   color: $sky_blue;
}

.selection-list--button {
   background: $blue_gray 40%;
   color: $navy;
}

/* changes color of filled in app selection button */
.selection-list--button-selected {
   color: $neon_magenta 90%;
   background: $blue_gray 40%;
}

/* changes color of filled in app selection button */
.selection-list--button-highlighted {
   color: $neon_magenta 90%;
   background: $blue_gray 40%;
}

/* changes color of filled in app selection button when highlighted */
.selection-list--button-selected-highlighted {
   color: $neon_magenta;
   background: $blue_gray 40%;
}

#base-screen-container {
   grid-size: 1;
   align: center middle;
   content-align: center middle;
   width: 90%;
}

#base-box-grid {
   grid-size: 1;
   grid-rows: 0.15fr 1fr 0.5fr;
   background: $navy;
   align: center middle;
   content-align: center middle;
   border: solid $cornflower;
   height: 50%;
}

#table-grid {
   align: center middle;
   content-align: center middle;
}

DataTable {
    width: auto;
}

/* just the table header */
.datatable--header {
   background: $dark_gray 70%;
   color: $sky_blue;
}

.datatable--header-hover {
   background: $dark_gray 70%;
   color: $sky_blue;
}

/* selected table cell or row */
.datatable--cursor {
   background: $light_cornflower 70%;
   color: $navy;
}

/* row you're currently hovered over */
.datatable--hover {
   background: $cornflower 30%;
   color: $bluish_white;
}

/* individual table rows */
.datatable--even-row {
    color: $light_cornflower;
    background: $blue_gray 10%;
}

.datatable--odd-row {
    color: $light_cornflower;
    background: $blue_gray 20%;
}

/* this label just lets the user know if there's clusters or not */
#clusters-text {
   width: 100%;
   padding-left: 1;
   padding-right: 1;
   height: auto;
   content-align: center middle;
   color: $cornflower;
}

/* button for new cluster */
#new-cluster-button-container {
   align: center middle;
   content-align: center middle;
   height: auto;
}

