/*
*      HEX       RGB              name of color in css
*      ---------------------------------------------
*      #bdd8ff  rgb(189,216,255)  bluish_white
*      #aea8f8  rgb(174,168,248)  lavender
*      #ff8d87  rgb(255,141,135)  spacechalk_red
*      #f289f9  rgb(242,137,249)  neon_magenta
*      #ffaff9  rgb(255,175,249)  light_pink
*      #fdcd36  rgb(253,205,54)   orange
*      #f9f986  rgb(249,249,134)  soft_yellow
*      #C1FF87  rgb(193,255,135)  soft_green
*      #a8fd57  rgb(168,253,87)   spacechalk_lime
*      #5cc9fd  rgb(92,201,253)   sky_blue
*      #5f87ff  rgb(95,135,255)   cornflower
*      #7aa2f7  rgb(122,162,247)  light_cornflower
*      #565f89  rgb(86,95,137)    blue_grey
*      #3a3a3a  rgb(58,58,58)     dark_gray
*      #232336  rgb(35,35,54)     navy
*/

$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_grey: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* Matches the entire screen */
Screen {
   align: center middle;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-hover: $orange;
   scrollbar-color: $light_cornflower;
}

Tooltip {
  background: $navy 50%;
  color: $bluish_white 75%;
  border: dashed gray 80%;
  padding-bottom: 0;
  padding-left: 1;
  padding-right: 1;
}

Button {
  background: rgb(123,120,191) 10%;
  border-top: tall rgb(65,72,104) 60%;
  border-bottom: tall rgb(0,0,0) 30%;
}

Input {
  background: $bluish_white 8%;
  color: white 75%;
  border: tall black 18%;
}

Input.-invalid {
   border: tall $neon_magenta;
}

Input.-valid:focus {
   border: tall $success;
}

/* Matches the bottom footer help text on every page */
Footer {
   background: $background 1%;
}

Footer .footer--description {
   color: $light_cornflower;
   background: $navy 50%;
}

Footer .footer--key {
   color: $navy;
   background: $light_cornflower;
}

Footer .footer--highlight {
   color: $orange;
   background: $navy 50%;
}

Footer .footer--highlight-key {
  color: $navy;
  background: $orange;
}

/* sets the init switch slider color only when it's on */
Switch.-on > .switch--slider {
   color: $spacechalk_lime 90%;
}

/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
   background: rgb(35,35,54) 40%;
   width: 100%;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
   background: $blue_grey 50%;
}

SelectionList .option-list--option-hover-highlighted {
   background: $blue_grey 90%;
}

SelectionList .option-list--option-hover {
   background: $blue_grey 70%;
}

/* changes color of filled in app selection button */
.selection-list--button-selected {
   color: $neon_magenta;
   background: $dark_gray;
}

/* changes color of filled in app selection button */
.selection-list--button-highlighted {
   color: $neon_magenta;
   background: $dark_gray;
}

/* changes color of filled in app selection button when highlighted */
.selection-list--button-selected-highlighted {
   color: $neon_magenta;
   background: $dark_gray;
}

/*
*      HEX       RGB              name of color in css
*      ---------------------------------------------
*      #bdd8ff  rgb(189,216,255)  bluish_white
*      #aea8f8  rgb(174,168,248)  lavender
*      #ff8d87  rgb(255,141,135)  spacechalk_red
*      #f289f9  rgb(242,137,249)  neon_magenta
*      #ffaff9  rgb(255,175,249)  light_pink
*      #fdcd36  rgb(253,205,54)   orange
*      #f9f986  rgb(249,249,134)  soft_yellow
*      #C1FF87  rgb(193,255,135)  soft_green
*      #a8fd57  rgb(168,253,87)   spacechalk_lime
*      #5cc9fd  rgb(92,201,253)   sky_blue
*      #5f87ff  rgb(95,135,255)   cornflower
*      #7aa2f7  rgb(122,162,247)  light_cornflower
*      #565f89  rgb(86,95,137)    blue_grey
*      #3a3a3a  rgb(58,58,58)     dark_gray
*      #232336  rgb(35,35,54)     navy
*/
