/* ALL TABS */

/* Matches the entire screen for each page */
Screen {
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
}

/* Matches the bottom footer help text on every page */
Footer {
    background: #232336;
}

Footer .footer--description {
    color: cornflowerblue;
    background: #232336;
}

Footer .footer--key {
    color: #282727;
    background: cornflowerblue;
}


/* BEGIN FIRST TAB */

/* Matches the k8s distro picker radio set */
RadioSet {
    padding: 1;
    border: solid cornflowerblue;
    width: 1fr;
}


/* kubelet config section label */
.kubelet-config-label {
}

/* kubelet config arg input row */
.kublet-arg-input-row {
    background: #262626;
    layout: grid;
    grid-size: 4;
    height: 3;
    grid-columns: 1.3fr 0.7fr 0.5fr 0fr;
}

/* kublet config arg key input field */
.kublet-arg-input-key{
    height: 3;
    width: 100%;
    content-align: left middle;
    padding-left: 1;
}

/* kublet config arg value input field */
.kublet-arg-input-value {
    height: 3;
    width: 100%;
    content-align: right middle;
}

/* kublet config arg row delete button */
.kublet-arg-delete-button {
    content-align: right middle;
    height: auto;
    width: auto;
}

/* BEGIN SECOND TAB */

/* Matches the "Select k8s apps" screen tab content container */
#select-apps-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 0.5fr 1.2fr;
    grid-rows: 1.3fr 0.7fr;
}


/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
    padding: 1;
    border: solid cornflowerblue;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
    height: 100%;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
    color: #282727;
    background: cornflowerblue;
}

/* Matches the "Configure Selected apps" input list */
#app-inputs {
    padding: 1;
    border: solid cornflowerblue;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
}

/* entire line for app label, app switch label, and switch for each app name with initialization */
.app-init-switch-and-label {
    background: #262626;
    layout: grid;
    grid-size: 4;
    height: 3;
    grid-columns: 1.3fr 0.7fr 0.5fr 0fr;
}

/* label for each app in the conigure selected apps pane */
.app-label {
    height: 3;
    width: 100%;
    content-align: left middle;
    padding-left: 1;
}

/* switch label for each app */
.app-init-switch-label {
    height: 3;
    width: 100%;
    content-align: right middle;
}

Switch {
    content-align: right middle;
    height: auto;
    width: auto;
}

/* each app input label and input field line */
.app-label-and-input {
    height: 3;
    layout: grid;
    grid-size: 2;
    grid-columns: 0.8fr 1.2fr;
}

/* each app input label */
.app-input-label {
    height: 3;
    width: 100%;
    content-align: left middle;
    padding-left: 1;
}

/* each app input field */
.app-input {
    height: auto;
    width: 100;
}

/* Matches Description AND Argo CD App Repository container in Select k8s apps tab */
#app-tooltip-container {
    column-span: 2;
    border: solid cornflowerblue;
    content-align: center middle;
}

/* manages just description for select k8s apps tab */
#selected-app-tooltip-description {
    width: 100;
}
