/* ALL TABS */

/* Matches the entire screen for each page */
Screen {
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
}

/* Matches the bottom footer help text on every page */
Footer {
    background: #232336;
}

Footer .footer--description {
    color: cornflowerblue;
    background: #232336;
}

Footer .footer--key {
    color: #282727;
    background: cornflowerblue;
}


/* help screen section */
HelpScreen {
    align: center middle;
}

#help-container {
    align: center middle;
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 1;
    width: 60;
    height: 11;
    border: heavy cornflowerblue 80%;
    background: $surface;
}

.help-option-row {
    align: left middle;
    grid-size: 3;
    grid-columns: 0.2fr 0.1fr 0.9fr;
}

/* BEGIN FIRST TAB */

/* Matches the k8s distro picker radio set */
RadioSet {
    padding: 1;
    border: solid cornflowerblue;
    width: 1fr;
}

/* the whole middle k8s distro config area */
#k8s-distro-config {
    border: solid cornflowerblue;
    padding: 1;
    content-align: center middle;
}

/* number of nodes input row */
.nodes-input-row {
    layout: grid;
    grid-size: 4;
    width: 100%;
    grid-columns: 1fr 0.2fr 0.21fr 0.19fr;
    height: 3;
}

/* "number of nodes:" label before the minus button */
.nodes-input-label {
    content-align: left middle;
    width: 100%;
    height: 3;
}

/* button to decrease the number of nodes */
.nodes-input-minus-button {
    width: 100%;
    content-align: center middle;
    height: 3;
}

/* input field to manually increase/decrease number of nodes*/
.nodes-input {
    width: 100%;
    align: center middle;
    content-align: center middle;
    height: 3;
}

/* button to increase the number of nodes */
.nodes-input-plus-button {
    width: 100%;
    content-align: center middle;
    height: 3;
}

/* kubelet config section label */
.kubelet-config-label {
    height: auto;
    width: 100%;
    padding: 1;
    background: #262626;
}

/* kubelet config arg input row */
.kubelet-arg-input-row {
    layout: grid;
    grid-size: 3;
    width: 100%;
    height: 3;
    grid-columns: 0.75fr 0.75fr 0.2fr;
}

/* kubelet config arg key input field */
.kubelet-arg-input-key{
    border: solid gray;
    height: auto;
    width: 100%;
}

/* kubelet config arg value input field */
.kubelet-arg-input-value {
    border: solid gray;
    height: auto;
    width: 100%;
}

/* kubelet config arg row delete button */
.kubelet-arg-del-button {
    content-align: center middle;
    height: auto;
    width: 100%;
}

/* kubelet config arg row delete button */
.kubelet-arg-add-button {
    height: auto;
    width: 30%;
}

/* k3s/k3d extra args container */
.k3s-config-container {
    content-align: center middle;
    border: solid cornflowerblue;
    height: 100%;
}

.k3s-config-label {
    content-align: left middle;
    background: #262626;
    width: 100%;
    height: 3;
}

/* k3s arg row */
.k3s-arg-row {
    height: auto;
    layout: grid;
    grid-size: 2;
    width: 100%;
    grid-columns: 1fr 0.2fr;
}

.k3s-arg-input {
    height: 3;
}

.k3s-arg-delete-button {
    height: 3;
}

.k3s-arg-add-button {
    width: 100%;
}

/* k8s distro description container */
#description-container {
    height: 25%;
    padding: 1;
    border: solid gray;
}

/* BEGIN SECOND TAB */

/* Matches the "Select k8s apps" screen tab content container */
#select-apps-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 0.5fr 1.2fr;
    grid-rows: 1.3fr 0.7fr;
}


/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
    padding: 1;
    border: solid cornflowerblue;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
    height: 100%;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
    color: #282727;
    background: cornflowerblue;
}

/* Matches the "Configure Selected apps" input list */
#app-inputs {
    padding: 1;
    border: solid cornflowerblue;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
    content-align: center middle;
}

/* entire line for app label, app switch label, and switch for each app name with initialization */
.app-init-switch-and-label {
    background: #262626;
    layout: grid;
    grid-size: 4;
    height: 3;
    grid-columns: 1.3fr 0.7fr 0.5fr 0fr;
}

/* label for each app in the conigure selected apps pane */
.app-label {
    height: 3;
    width: 100%;
    content-align: left middle;
    padding-left: 1;
}

/* switch label for each app */
.app-init-switch-label {
    height: 3;
    width: 100%;
    content-align: right middle;
}

Switch {
    content-align: right middle;
    height: auto;
    width: auto;
}

/* each app input label and input field line */
.app-label-and-input {
    height: 3;
    layout: grid;
    grid-size: 2;
    grid-columns: 0.8fr 1.2fr;
}

/* each app input label */
.app-input-label {
    height: 3;
    width: 100%;
    content-align: left middle;
    padding-left: 1;
}

/* each app input field */
.app-input {
    height: auto;
    width: 100;
}

/* Matches Description AND Argo CD App Repository container in Select k8s apps tab */
#app-tooltip-container {
    column-span: 2;
    padding: 1;
    border: solid gray;
    content-align: center middle;
}

/* manages just description for select k8s apps tab */
#selected-app-tooltip-description {
    width: 100;
}
