#confirm-tab-container {
   layout: grid;
   align: center middle;
   grid-rows: 5.5fr 0.8fr;
   margin-top: 1;
}

#invalid-apps {
  border: dashed yellow 60%;
  padding: 1;
  margin-bottom: 1;
  width: 100%;
  background: rgb(35,35,54) 60%;
}

#pretty-yaml-scroll-container {
   border: solid cornflowerblue;
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
   height: 100%;
   padding-top: 1;
   background: rgb(35,35,54) 60%;
}

#confirm-button {
   width: 100%;
   margin-top: 1;
   background: rgb(123,120,191) 10%;
   border-top: tall rgb(65,72,104) 60%;
   border-bottom: tall rgb(0,0,0) 30%;
}
