$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

#confirm-container {
   align: center middle;
   height: 90%;
}

/* warning with invalid inputs */
#invalid-apps {
  border: solid $soft_yellow 60%;
  padding-left: 2;
  padding-top: 2;
  width: 90%;
  height: 40%;
  background: $navy 60%;
}

/* full user yaml with scroll bar */
#pretty-yaml-scroll-container {
   border: solid $cornflower;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-hover: $light_cornflower;
   scrollbar-color-active: $sky_blue;
   scrollbar-color: $cornflower;
   padding-top: 1;
   background: $navy 60%;
   height: 90%;
   width: 95%;
}

#final-confirm-button-box {
  align: center middle;
  grid-size: 2;
  margin-bottom: 2;
  width: 95%;
}

#confirm-button {
  color: $soft_green 75%;
}

#back-button {
  color: $light_pink 80%;
}

/* INVALID APPS ROWS */

.nope-row {
  grid-size: 2;
  grid-columns: 0.24fr 1fr;
}

.nope-label {
  width: 100%;
}

.nope-fields {
  width: 100%;
}

/* these are for app links: https://textual.textualize.io/styles/links/ */
.nope-link {
    link-color: $soft_yellow 90%;
    link-style: bold underline;
    link-hover-color: $navy;
    link-hover-background: $soft_yellow;
}
