/* Matches the entire screen for each page */
Screen {
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
}

/* Matches the k8s distro picker radio set */
RadioSet {
    padding: 1;
    border: solid cornflowerblue;
    width: 1fr;
}

/* Matches the "Select k8s apps" screen tab content container */
#select-apps-container {
    layout: grid;
    grid-size: 2;
}


/* Matches the "Select apps to install on k8s" Selection List */
SelectionList {
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 5;
    border: solid cornflowerblue;
    column-span: 1;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
    height: 3.5fr;
}

/* Matches the "Select apps to install on k8s" Selection List highlighted option */
SelectionList .option-list--option-highlighted {
    color: #282727;
    background: cornflowerblue;
}

/* Matches the "Configure Selected apps" input list */
#app-inputs {
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    border: solid cornflowerblue;
    scrollbar-background: #3a3a3a;
    scrollbar-color: #5f5fd7;
    column-span: 1;
    height: 3.5fr;
}

/* app label, app switch label, and switch each app name with initialization */
.app-init-switch-and-label {
    background: #262626;
    layout: grid;
    grid-size: 4;
    content-align: center middle;
    align: center middle;
    height: 3;
}

/* label for each app in the conigure selected apps pane */
.app-label {
    column-span: 2;
    height: 3;
    width: auto;
    content-align: center middle;
}

/* switch label for each app */
.app-init-switch-label {
    column-span: 1;
    height: 3;
    content-align: center middle;
    width: auto;
}

Switch {
    height: auto;
    width: auto;
}

/* initialization switch for each app */
.app-init-switch {
    column-span: 1;
}

/* each app input label and input field line */
.app-label-and-input {
    height: 3;
    content-align: center middle;
    width: auto;
    column-span: 2;
}

/* each app input label */
.app-input-label {
    column-span: 1;
    height: 3;
    content-align: center middle;
    width: auto;
}

/* each app input field */
.app-input {
    height: auto;
    width: auto;
    column-span: 1;
}

/* Matches Description AND Argo CD App Repository container in Select k8s apps tab */
#app-tooltip-container {
    column-span: 2;
    content-align: center middle;
    align: left middle;
    height: 0.5fr;
    border: solid cornflowerblue;
}

/* manages just description for select k8s apps tab */
#selected-app-tooltip-description {
    width: 100;
}

/* Matches the bottom footer help text on every page */
Footer {
    background: #232336;
}

Footer .footer--description {
    color: cornflowerblue;
    background: #232336;
}

Footer .footer--key {
    color: #282727;
    background: cornflowerblue;
}
