/* ALL TABS */

/* Matches the entire screen for each page */
Screen {
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
}

Tooltip {
  background: rgb(35,35,54) 50%;
  color: #7a7a7a;
  border: round gray 80%;
  padding-bottom: 0;
}

Button {
  background: rgb(123,120,191) 10%;
  border-top: tall rgb(65,72,104) 60%;
  border-bottom: tall rgb(0,0,0) 30%;
}

/* Matches the bottom footer help text on every page */
Footer {
   background: $background 1%;
}

Footer .footer--description {
   color: cornflowerblue;
   background: rgb(35,35,54) 50%;
}

Footer .footer--key {
   color: #282727;
   background: cornflowerblue;
}

Footer .footer--highlight {
   color: orange;
   background: rgb(35,35,54) 50%;
}

Footer .footer--highlight-key {
  color: #282727;
  background: orange;
}

/* final tab with confirmation data */
#confirm-tab-container {
   layout: grid;
   align: center middle;
   grid-rows: 5.5fr 0.8fr;
   margin-top: 1;
}

#invalid-apps {
  border: dashed yellow 60%;
  padding: 1;
  margin-bottom: 1;
  width: 100%;
  background: rgb(35,35,54) 60%;
}

#pretty-yaml-scroll-container {
   border: solid cornflowerblue;
   scrollbar-background: #3a3a3a;
   scrollbar-background-active: #3a3a3a;
   scrollbar-background-hover: #3a3a3a;
   scrollbar-color-hover: orange;
   scrollbar-color: #5f5fd7;
   height: 100%;
   padding-top: 1;
   background: rgb(35,35,54) 60%;
}

#confirm-button {
   width: 100%;
   margin-top: 1;
   background: rgb(123,120,191) 10%;
   border-top: tall rgb(65,72,104) 60%;
   border-bottom: tall rgb(0,0,0) 30%;
}
