/* Matches the entire screen for each page */
Screen {
   align: center middle;
   layout: grid;
   grid-rows: 0.35fr 0.35fr 0.3fr 3fr;
}

#distro-help {
    margin-top: 1;
    padding-top: 1;
    padding-bottom: 1;
    content-align: center middle;
    width: 100%;
    color: rgb(168,253,87);
    background: rgb(65,72,104) 30%;
}

#advanced-config-label {
   height: 3;
   width: 100%;
   content-align: center middle;
   color: rgb(168,253,87);
   background: rgb(65,72,104) 30%;
}

#distro-select-box {
   height: 3;
   padding-left: 1;
   background: rgb(35,35,54) 50%;
   margin-top: 1;
}

#select-distro-label {
   content-align: center middle;
   height: 3;
}

#distro-drop-down {
   content-align: center middle;
}

#distro-drop-down .option-list--option-highlighted {
   background: rgb(65,72,104) 90%;
}

/* bottom half k8s distro config area */
.k8s-distro-config {
   layout: grid;
   align: center top;
   grid-rows: 0.5fr 1fr 1.1fr;
}

/* number of nodes input row */
.nodes-input-row {
   background: rgb(35,35,54) 50%;
   border: round cornflowerblue;
   layout: grid;
   grid-size: 5;
   align: center middle;
   width: 100%;
   padding-top: 1;
   padding-bottom: 1;
   margin-bottom: 1;
}

.nodes-input-label {
   content-align: center middle;
   height: 3;
   width: 100%;
   color: rgb(127,200,255) 90%;
}

/* input field to manually increase/decrease number of control plane nodes */
.nodes-input-control-input {
   width: auto;
   height: 3;
}

/* input field to manually increase/decrease number of worker nodes */
.nodes-input-worker-input {
   align: center middle;
   width: auto;
   height: 3;
}

/* kind placeholder box to make the grid look nice */
#kind-placeholder {
}
