$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* Matches the entire distro screen */
#distro-config-screen {
   align: center middle;
   layout: grid;
}

#distro-help {
    margin-top: 1;
    padding-top: 1;
    padding-bottom: 1;
    content-align: center middle;
    width: 100%;
    color: $soft_green;
    background: $blue_gray 30%;
}

#advanced-config-label {
   width: 100%;
   content-align: center middle;
   color: silver;
   background: $blue_gray 10%;
   margin-bottom: 1;
   margin-top: 1;
}

#distro-select-box {
   height: 3;
   padding-left: 1;
   background: $blue_gray 30%;
   margin-top: 2;
   margin-bottom: 2;
}

#select-distro-label {
   content-align: center middle;
   color: $soft_green;
   height: 3;
}

#distro-drop-down {
   content-align: center middle;
}

#distro-drop-down .option-list--option-highlighted {
   background: $blue_gray 90%;
}

/* bottom half k8s distro config area */
.k8s-distro-config {
   layout: grid;
   grid-rows: 0.5fr 1fr 1.1fr;
   width: 95%
}

/* number of nodes input row */
.nodes-input-row {
   background: $navy 50%;
   border: round $cornflower;
   layout: grid;
   grid-size: 5;
   align: center middle;
   width: 100%;
   padding-top: 1;
   padding-bottom: 1;
   margin-bottom: 1;
}

.nodes-input-label {
   content-align: center middle;
   height: 3;
   width: 100%;
   color: $sky_blue 90%;
}

/* input field to manually increase/decrease number of control plane nodes */
.nodes-input-control-input {
   width: auto;
   height: 3;
}

/* input field to manually increase/decrease number of worker nodes */
.nodes-input-worker-input {
   align: center middle;
   width: auto;
   height: 3;
}
