$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* kubelet config container */
.kubelet-config-container {
   border: round $cornflower;
   background: rgb(35,35,54) 50%;
   height: 100%;
}

.kubelet-config-scroll {
   align: center middle;
   scrollbar-background: $dark_gray;
   scrollbar-background-active: $dark_gray;
   scrollbar-background-hover: $dark_gray;
   scrollbar-color-active: $sky_blue;
   scrollbar-color-hover: $cornflower;
   scrollbar-color: $light_cornflower;
}

/* kubelet config arg input row */
.kubelet-arg-input-row {
   layout: grid;
   grid-size: 3;
   width: 100%;
   height: auto;
   grid-columns: 0.75fr 0.74fr 0.12fr;
   padding-bottom: 1;
   padding-right: 1;
   content-align: center middle;
}

/* kubelet config arg key input field */
.kubelet-arg-input-key{
   height: auto;
   width: 100%;
}

/* kubelet config arg value input field */
.kubelet-arg-input-value {
   height: auto;
   width: 100%;
}

/* kubelet config arg row delete button */
.kubelet-arg-input-del-button {
   content-align: center middle;
   height: auto;
   padding: 0;
}

/* kubelet config arg row delete button */
.kubelet-arg-add-button {
   content-align: center middle;
   height: auto;
   width: 100%;
   margin-right: 1;
   margin-left: 1;
}
