$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* not sure if this is in use */
#new-node-button {
    margin-left: 10;
}

/* number of nodes box */
#add-nodes-box {
    background: $navy 60%;
    padding-left: 1;
    padding-right: 1;
    align: center middle;
    content-align: center middle;
}

/* rows for full widget or screen for modifying nodes */
.add-nodes-box-widget {
    grid-rows: 0.8fr 0.1fr 0.6fr;
}

.add-nodes-box-full-screen {
    grid-rows: 0.9fr 0.15fr 0.6fr;
}

/* not in use */
#nodes-data-table {
}

#nodes-tab-nodes-widget {
    width: auto;
    height: auto;
}

/* add new node header */
.new-node-text-full-screen {
    background: $dark_gray 80%;
    width: 100%;
    color: $light_cornflower;
    height: 3;
    content-align: center middle;
}

.new-node-text-widget {
    background: $dark_gray 80%;
    width: 100%;
    color: $light_cornflower;
}

/* input fields below the new node header */
.k3s-node-input-row {
    grid-size: 2;
    grid-gutter: 0 2;
}

.k3s-node-input-row .input-row-label {
    width: 100%;
}

.input-row-equal {
    layout: grid;
    grid-size: 2;
    grid-columns: 0.4fr 1fr;
}
