$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* k3s/k3d extra args container that contains the k3s widget */
.k3s-config-container {
    align: center middle;
    background: rgb(35,35,54) 50%;
    link-background-hover: $navy;
    link-color-hover: $orange;
    padding: 2;
    grid-rows: 0.25fr 1fr;
}

/* TabbedContent box for the kind widget */
#k3s-tabbed-content {
    border: round $cornflower;
    border-title-color: $sky_blue;
    border-subtitle-color: $lavender;
    background: $navy 60%;
    width: 100%;
    height: 100%;
    link-background-hover: $navy;
    link-color-hover: $orange;
}

/* tabpane 1 */
#k3s-yaml-tab {
    height: auto;
}

/* tabpane 2 */
#k3s-kubelet-tab {
    height: auto;
}

/* k3s container itself */
.k3s-arg-scroll {
    align: center middle;
    scrollbar-background: $dark_gray;
    scrollbar-background-active: $dark_gray;
    scrollbar-background-hover: $dark_gray;
    scrollbar-color-active: $sky_blue;
    scrollbar-color-hover: $cornflower;
    scrollbar-color: $light_cornflower;
}

#k3s-grid {
    height: auto;
    padding-right: 1;
    align: center top;
}

.k3s-arg-input {
    width: 100%;
}

.k3s-arg-del-button {
    width: 100%;
}

/* button to add another optional k3s extra arg */
#new-k3s-option-grid {
    grid-gutter: 1;
    align: left middle;
    padding-right: 2;
    grid-size: 2;
}

.k3s-arg-add-button {
    column-span: 2;
    width: 100%;
    margin-top: 1;
    margin-left: 1;
    margin-right: 1;
}
