$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);

/* kind-networking config container */
#kind-networking-container {
    padding-top: 1;
    padding-left: 1;
    padding-right: 1;
    grid-rows: 0.2fr 1fr;
    height: 100%;
}

#kind-networking-config-scroll {
    align: center middle;
    grid-gutter: 1;
    scrollbar-background: $dark_gray;
    scrollbar-background-active: $dark_gray;
    scrollbar-background-hover: $dark_gray;
    scrollbar-color-active: $sky_blue;
    scrollbar-color-hover: $sky_blue;
    scrollbar-color: $light_cornflower;
}
