$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);


/* whole modal screen */
#node-question-modal-screen {
    width: 80%;
    align: center middle;
}

.modify-delete-size {
    height: 14;
}

#node-modal-text {
   color: $cornflower;
}

#node-question-box {
    align: center middle;
    content-align: center middle;
    background: $navy 75%;
    border: round $cornflower;
    padding: 1;
}

#modal-button-box {
    grid-size: 3;
    align: center middle;
    height: auto;
}

#node-modal-text {
    content-align: center middle;
    width: 100%;
    color: $sky_blue;
    padding-top: 1;
    padding-bottom: 1;
    background: $dark_gray 30%;
}

#node-name-input {
    margin-bottom: 1;
}
