$bluish_white: rgb(189,216,255);
$lavender: rgb(174,168,248);
$spacechalk_red: rgb(255,141,135);
$neon_magenta: rgb(242,137,249);
$light_pink: rgb(255,175,249);
$orange: rgb(253,205,54);
$soft_yellow: rgb(249,249,134);
$soft_green: rgb(193,255,135);
$spacechalk_lime: rgb(168,253,87);
$sky_blue: rgb(92,201,253);
$cornflower: rgb(95,135,255);
$light_cornflower: rgb(122,162,247);
$blue_gray: rgb(86,95,137);
$dark_gray: rgb(58,58,58);
$navy: rgb(35,35,54);

/* number of nodes input row */
#nodes-input-row {
   background: $navy 60%;
   border: round $cornflower;
   border-title-color: $sky_blue;
   grid-size: 2;
   align: center middle;
   padding: 1;
   margin-bottom: 1;
}

.nodes-input-label {
   content-align: center middle;
   color: $bluish_white;
   padding-top: 1;
   padding-bottom: 1;
}

/* both the input label and actual Input */
.node-input-column {
   grid-size: 2;
   align: center middle;
}

.worker-node-row {
   grid-columns: 0.6fr 1fr;
}

/* input field to change number of control plane nodes */
.nodes-input-control-input {
    width: auto;
}

/* input field to change number of worker nodes */
.nodes-input-worker-input {
    width: auto;
}
