@font-face {
  font-family: "Mononoki";
  src: url("../assets/fonts/MononokiNerdFont-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Mononoki Bold";
  src: url("/assets/fonts/MononokiNerdFontMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Mononoki Italic";
  src: url("/assets/fonts/MononokiNerdFont-Italic.ttf");
  font-weight: italic;
}

@font-face {
  font-family: "Mononoki Bold Italic";
  src: url("/assets/fonts/MononokiNerdFont-BoldItalic.ttf");
  font-weight: bold italic;
}
