---
name: Test smol-k8s-lab
on:
  pull_request:
    paths-ignore:
      - ".github/**"
      - "mkdocs.yaml"
      - "README.md"
      - "docs/**"
      - "renovate.json"
jobs:
  test_kind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install smol-k8s-lab via poetry
        run: poetry install

      - name: Install Argo CD cli
        run: |
            curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
            sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
            rm argocd-linux-amd64

      - name: test smol-k8s-lab with kind
        run: |
            source .venv/bin/activate
            smol-k8s-lab -c .github/smol_k8s_lab_config_kind.yaml

  test_k3s:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install smol-k8s-lab via poetry
        run: poetry install

      - name: Install Argo CD cli
        run: |
            curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
            sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
            rm argocd-linux-amd64

      - name: Install alsa libs
        run: |
            sudo apt install liboss4-salsa-asound2 libasound2-plugins

      - name: test smol-k8s-lab with k3s
        run: |
            source .venv/bin/activate
            export KUBECONFIG="/home/runner/.config/kube/config"
            smol-k8s-lab -c .github/smol_k8s_lab_config_k3s.yaml

  test_k3d:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install smol-k8s-lab via poetry
        run: poetry install

      - name: Install Argo CD cli
        run: |
            curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
            sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
            rm argocd-linux-amd64

      - name: Install k3d
        run: |
            curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash

      - name: test smol-k8s-lab with k3d
        run: |
            source .venv/bin/activate
            export KUBECONFIG="/home/runner/.config/kube/config"
            smol-k8s-lab -c .github/smol_k8s_lab_config_k3d.yaml
